@charset "utf-8";
@font-face
{
	font-family:Digital-7Mono;
	src: url('Digital-7Mono.TTF');
}

/* CSS Document */
.clearfix:after{ content: '\20';display: block;height: 0; clear: both;}
.clearfix{zoom:1;}
b,i,strong,em{ font-style:normal; font-weight:normal;}
ul,ol,dl,dt,dd,li{ list-style:none; padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal; padding:0; margin:0;}
a,img,input{ outline:none; border:none;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
body{color:#666;font-size:100%; font-weight:normal; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif; padding:0; margin:0; }

/**公共样式*/
.liuhai-paddingtop{padding-top: 0;padding-top: constant(safe-area-inset-top);padding-top: env(safe-area-inset-top);}
.liuhai-paddingbottom{padding-bottom: 0;padding-bottom: constant(safe-area-inset-bottom);padding-bottom: env(safe-area-inset-bottom);}

.bg_1{background: url(../images/user_bg_1.png);}
.bg_2{background: url(../images/user_bg_2.png);}
.bg_3{background: url(../images/user_bg_3.png);}
.bg_4{background: url(../images/user_bg_4.png);}
.bg_5{background: url(../images/user_bg_5.png);}
.bg_7{background: url(../images/user_bg_7.png);}
.bg_8{background: url(../images/user_bg_8.png);}
.bg_9{background: url(../images/user_bg_9.png);}

.color-red{color: #f00;}
.color-gray{color: #969696;}
.color-block{color: #383838;}
.color-orange{color: #f60;}
.color-green{color: green;}
.color-blue{color:blue}

.mask{position: fixed;width:100%;height: 100%;z-index:101;top:0;left:0;}


.loading {
	width: 80px;
	height: 80px;
	background: rgba(0,0,0,.7);
	border-radius: 10px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
}

.loading_bar {
	width: 30px;
	height: 30px;
	border: 3px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	-webkit-animation: rotate1 1s linear infinite;
	margin: 21px auto 0 auto;
}

@-webkit-keyframes rotate1 {
	from {
		-webkit-transform: rotate(0);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}


.notice-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 85vw;
    height:70vh;
    margin-left: 7.5vw;
    margin-top: 15vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.notice-box-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 85vw;
    height:60vh;
    background-color: #fff;
    border-radius: 10px;
}

.notice-box-content-tit{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85vw;
    height:8vh;
    color: black;
    font-size: 18px;
    font-weight: bold;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.notice-box-content-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75vw;
    height:47vh;
    margin:0;
    padding: 0 5vw;
    overflow: auto;
    overflow-x:hidden;
    color: #000;
    font-size: 17px;
    line-height: 25px;
    word-break: break-word;
}

.notice-box-bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85vw;
    height:10vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.notice-box-close{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
}

.notice-box-close-click{
    background-color: #FF5722;
}

.lh-tip-panel{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 105;
    width: 100vw;
    height: 100vh;
    top:0;
}
.lh-tip-box{
    background-color: #fff;
    border-radius: 5px;
    padding: 3vh 5vw;
    text-align: center;
    -webkit-box-shadow: #5f5f5f 0 0px 15px;
    box-shadow: #5f5f5f 0 0px 15px;
    min-width: 150px;
    max-width: 250px;
}

.lh-tip-box i{
    font-size: 65px;
    margin-bottom: 2vh;
    display: block;
}

.lt-success i{
    color: #23b100;
}

.lt-warning i{
    color: #ff8100;
}

.lt-error i{
    color: #ff2e38;
}

.lh-tip-box span.lt-msg{
    color: #000;
    font-size: 16px;
    text-align: center;
    display: block;
    text-justify: newspaper;
    word-break: break-all;
}

.app{width:100vw; height:100vh; -webkit-user-select:none;user-select:none;background-color: #f1f1f1;}

/**进度条**/
progress[value] {
  width: 75%;
  height:5px;
  border: none;
  border-radius: 10px;
  background: #d0d0d0;
  margin-right: 10px;
}
progress[value]::-webkit-progress-bar {
  border: none;
  border-radius: 10px;
  background: #d0d0d0;
}
progress[value]::-webkit-progress-value {
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffbc90, #f60);
}
progress[value]::-moz-progress-bar {
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffbc90, #f60);
}
progress[value]::-ms-fill {
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffbc90, #f60);
}
/**进度条**/


/**顶部导航栏*/
.nav-bar{
	width: 100%;
	font-size: 16px;
	color: #fff;
	background-image: radial-gradient(circle , rgb(58,58,58),rgb(38,38,38));
	position: fixed;
	top: 0;
	left: 0;
	height: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index:100;
}

.nav-bar-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 45px;
    width: 15%;
}

.nav-bar-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 45px;
    width: 70%;
    font-size: 16px;
    color: #fff;
}

/**顶部导航栏*/

/*二级菜单*/
.sub_nav{ 
	height:70px;
	background:#f3f3f9;
	border-top:0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.sub_nav div.sub{
	line-height: 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
}
.sub_nav div.sub div{
    color: rgb(245,156,2);
    border:1px solid rgb(245,156,2);
    background-color: #fff;
    line-height:33px;
    padding:0 20px;
    font-size: 12px;
    font-weight: bold;
    border-right: 0;
}
.sub_nav div.slow div{
	padding:0 10px;
}
.sub_nav div.sub div.selected{
    background-color: rgb(245,156,2);
    color: #fff;
}
.sub_nav div.sub div.first{
    border-radius: 36px 0 0 36px;
}
.sub_nav div.sub div.end{
    border-radius: 0 36px 36px 0;
    border-right:1px solid rgb(245,156,2);
}
/*二级菜单*/

/**底部选项栏**/
.tab-bar{
	width: 100%;
	height:51px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: fixed;
	background: #fff;
	bottom: 0;
	left: 0;
	box-shadow: 0px 4px 6px 3px #808080;
}

.tab-bar .item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 25%;
	height: 50px;
	color: #7a7e83;
	font-size: 12px;
}

.tab-bar .selected{
	color: #f60;
}

.tab-bar .item i{
	font-size: 26px;
}
/**底部选项栏**/

/*没有数据*/
.no_data{ text-align:center; padding:50px 0;}
	.no_data i.iconfont{color:#ccc;font-size:48px; display:block;}
	.no_data b{ font-size:14px;color:#999; padding:10px 0;display:block;}
	
/*分页*/
.paging{font-size:12px;text-align:right; padding:1.5vh 0;  padding-right:2vw; -webkit-user-select:none;}
 .paging span.paging_count{color:#383838;padding-right:2vh;display:inline-block;}
	.paging span.paging_btn i{color:#fff;line-height:30px; background:#383838; border-radius:3px;padding:0 12px; display:inline-block;}
	.paging span.paging_btn i:active{color:#fff;background:#999;}	

.main{
	width: 100%;
	padding-bottom: 20px;
	padding-top: 45px;
	padding-top: calc(45px + constant(safe-area-inset-top));
	padding-top: calc(45px + env(safe-area-inset-top));
	background-color: #f1f1f1;
}

.main-bottom{
	padding-bottom: 100px;
}

.order-list{
	padding: 10px 0;
}

.order-list-item{
	padding: 10px 0;
	width: 94vw;
	margin-left: 3vw;
	border-radius: 10px;
	background-color: #fff;
	margin-bottom: 10px;
	box-shadow: 0px 1px 5px 1px #ddd;
}

.order-list-item div.row{
    width: 88vw;
    padding: 3px 4vw;
    line-height: 25px;
    color: #666;
    font-size: 14px;
	word-break:break-all
}
.order-list-item div.row b{
    color: #000;
}

.order-list-item div.row b.name{
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
}

.order-list-item div.row span{
    display: inline-block;
    width: 49%;
}

.un_order_list{}
.un_order_list table{}
.un_order_list table thead tr td{color:#666; font-size:13px; font-weight:bold;height:40px; background:#FFFCDC; border-right:#ddd solid 1px;border-bottom:#ddd solid 1px; padding:0 5px;}
.un_order_list table thead tr td:last-child{ border-right:none;}
.un_order_list table tbody tr td{color:#888; font-size:12px; line-height:18px;border-right:#eee solid 1px; border-bottom:#ddd solid 1px;background:#fff; padding:5px 5px;}
.un_order_list table tbody tr td:last-child{ border-right:none;}
.un_order_list table tbody tr td p{padding:0; margin:0; display:block;}

/**公共样式*/




/**大厅**/
.hall{

}
.hall div.header{
	display: flex;
	background: radial-gradient(circle,#585858 0,#383838 100%);
	/*padding: 15px 0;
	padding-top: calc(15px + constant(safe-area-inset-top));
	padding-top: calc(15px + env(safe-area-inset-top));*/
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.hall .header .left{
	width:50%;
	display: inline-block;
	float: left;
	margin-left: 20px;
}
.hall .header .left a{
	color: #fff;
	text-decoration: none;
}
.hall .title a{
	color: #f60;
	text-decoration: none;
}



.hall .header .left img{
	display: inline-block;
	height:50px;
	width: auto;
	border-radius: 50px;
	float: left;
	margin-top: 5px;
}

.hall .header .left span{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	line-height: 60px;
}
.hall .header .right{
	width:50%;
	line-height: 60px;
	height: 60px;
	float: left;
	text-align: right;
	margin-right: 20px;
}
.hall .header .right .price{
	width:100%;
/*	line-height: 25px;*/
	height: 25px;
	color: #fff46b;
	font-weight: bold;
	font-size: 17px;
}
.hall .header .right .btn{
	width:100%;
	line-height: 35px;
	height: 35px;
}

.hall .header .right .btn .cz{
	border-radius: 3px;
	background: #d9534f;
	color: #fff;
	font-size: 12px;
	line-height: 22px;
	height: 22px;
	padding: 0 13px;
	display: inline-block;
}

.hall .header .right .btn .tx{
	margin-left: 10px;
	border-radius: 3px;
	background: #777;
	color: #fff;
	font-size: 12px;
	line-height: 22px;
	height: 22px;
	padding: 0 13px;
	display: inline-block;
}


/**大厅内容区域**/

	.hall .content {
		width: 100%;
		padding-bottom: 100px;
		padding-top: 90px;
		padding-top: calc(85px + constant(safe-area-inset-top));
		padding-top: calc(85px + env(safe-area-inset-top));
		background-color: #f3f3f9;
	}

.user-info{
	border-radius: 10px;
	background: #fff;
	/*margin-top: 20px;*/
	width: 94vw;
	margin-left: 3vw;
	box-shadow: 0px 1px 5px 1px #ddd;
}

.user-info .title{
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #383838;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px 10px 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #fff;
	margin-bottom: 5px;
}

.user-info .title img{
	height: 20px;
	width: auto;
	line-height: 40px;
	margin: 0 10px 0 20px;
}

 .user-info .list-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: wrap;
	background: #fff;
	border-radius: 0 0 10px 10px;
	padding: 0 0 10px 0;
}

.user-info .list-box .list-item{
	width: 50%;
	font-size: 14px;
	color: #5f5f5f;
	padding-bottom: 10px;
	text-align: center;
}
.user-info .list-box .list-item p{
	margin: 0;
	padding: 0;
	line-height: 25px;
}

.user-info .list-box .list-item p.price{
	color: #f00;
	font-size: 14px;
	font-weight: bold;
}
.user-info .list-box .list-item p.price i{
	font-size: 14px;
}
.user-info .pie-title{
	text-align: center;
	padding-top: 10px;
}
.user-info .pie-title img{
	width: 60%;
	height: auto;
}
.user-info .pie-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #fff;
	border-radius: 10px;
	padding: 10px 10px;
}
.user-info .pie-box .left{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 35%;
}
.user-info .pie-box .left img{
	width:100%;
}

.user-info .pie-box .right{
	width: 59%;
	margin-left: 5%;
	line-height: 20px;
	font-size: 14px;
	color: #333;
	word-break: break-all;
}

.user-info .pie-txt{
	line-height: 25px;
	font-size: 12px;
	font-weight: 600;
	padding: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.user-info .pie-txt div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	word-break: keep-all;
	width: 25%;
}

.user-info .pie-txt div i{
	width: 12px;
	height: 12px;
	border-radius: 3px;
	margin:0 5px;
}

.pie-red i{background-color:#F67F52}
.pie-orange i{background-color: #FEBF0B; }
.pie-blue i{background-color: #22C4DF; }
.pie-green i{background-color: #42D49E; }

.pie-red{color:#F67F52}
.pie-orange{color: #FEBF0B; }
.pie-blue{color: #22C4DF; }
.pie-green{color: #42D49E; }




	/**游戏展示*/
.game{
	border-radius: 10px;
	background: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 94vw;
	margin-left: 3vw;
	box-shadow: 0px 1px 5px 1px #ffdbc4;
	position: relative;
}
.report{
	width: 94vw !important;
}
/*
@media (max-width: 1023px) {

	.game{
		border-radius: 10px;
		background: #fff;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 94vw;
		margin-left: 3vw;
		box-shadow: 0px 1px 5px 1px #ffdbc4;
		position: relative;
	}
	.report{
		width: 94vw !important;
	}
}

*/



.game-end{
	box-shadow: 0px 1px 5px 1px #999;
}

.game .tag{
	position: absolute;
	top: 0;
	right: 0;
	border-radius:0 10px 0 10px;
	background: #fb5a5a;
	color: #fff;
	font-size: 12px;
	padding: 2px 8px;
}

.game .title{
	display: block;
	width: 100%;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px 10px 0 0;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
}

.game .tips{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #ff4a4a;
	font-weight: bold;
}

.game .info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 20px;
	padding: 0 20px;
	padding-bottom: 15px;
}

.game .info .left{
	width:45%;
	font-size: 14px; 
	color: #999;
	text-align: center;
}

.game .info .left .price{
	font-size: 22px;
	font-weight: bold;
	color: #f60;
	margin-bottom: 5px;
}

.game .info .left .price i{font-size: 20px;}

.game .info .right{
	width:55%;
	font-size: 14px; 
	color: #999;
	text-align: center;
}

.game .info .right .time{
	font-family: Digital-7Mono,Arial,sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #383838;
	margin-bottom: 5px;
}

.game .info .right .time i{font-size: 20px;}

.game .info .right .profit{
	font-size: 22px;
	font-weight: bold;
	color: #383838;
	margin-bottom: 5px;
}

.game .info .right .profit i{font-size: 20px;}

.game .progress{
	width: 100%;
	font-size: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.game .btn{
	width: 90%;
	margin-left: 4%;
}

.game .btn span{
	display: block;
	width: 100%;
	border-radius: 40px;
	background-color: #f60;
	font-size: 16px;
	color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

.game .btn span.end{
	background-color: #777;
}

.game .last-user{
	width:90%;
	padding-bottom: 15px;
	font-size: 12px;
	color:#666;
	text-align: center;
	margin-left: 5%;
	padding-top: 10px;
}

.game .more{
	width:90%;
	padding-bottom: 15px;
	font-size: 12px;
	color:#a07600;
	text-align: center;
	margin-left: 5%;
	padding-top: 10px;
}

.game .win-info-box{
	width: 100%;
	margin: 0 0 15px 0;
}
.game .win-info{
	width:90%;
	font-size: 14px;
	color:#daa100;
	text-align: center;
	margin-left: 5%;
	line-height: 30px;
}
/**大厅内容区域**/



/**个人中心*/

.uc-info-box{
	background-color: #f3f3f9;
	width: 100vw;
	height: 60px;
	border-radius: 5px;
	padding: 20px 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.uc-info-box div.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 90vw;
}
.uc-info-box div.row1{
    height: 50px;
	color: #383838;
	font-size: 16px;
	font-weight: bold;
}

.uc-info-box .row1 img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.uc-info-box .row1 span{
    color: #000;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
}


.uc-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px 0;
    border-radius: 10px;
    width: 94vw;
    border-radius: 5px;
    margin-left: 3vw;
    background-color: #fff;
	box-shadow: 0px 1px 5px 1px #ddd;
}

.uc-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 86vw;
    padding:10px 0;
}

.uc-list-item div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width:43vw;
}
.uc-list-item div.left{
    font-size: 14px;
    color: rgb(38,38,38);
    font-weight: bold;
}

.uc-list-item div.left i{
    margin-right: 10px;
    font-size: 24px;
    padding-top: 2px;
    color: rgb(90,90,90);
}
.uc-list-item div.left span{
    font-size: 14px;
    color: rgb(90,90,90);
    font-weight: bold;
}

.uc-list-item div.right{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.uc-list-item div.right i{
    margin-left: 5px;
    font-size: 20px;
    padding-top: 4px;
    color: rgb(161,162,164);
}

/**个人中心*/

/**关于我们*/
.about{
	font-size: 14px;
	color: #585858;
	width: 100%;
	min-height: calc(100vh - 45px);
	background: #2d2d2d;
}

.about .title{
	padding: 20px 0;
	text-align: center;
}

.about .title img{
	width: 80%;
	height: auto;
}

.about .our-info{
	padding: 0 5%;
}

.about .our-info p{
	line-height: 25px;
	color: #fff;
	font-size: 16px;
	padding-bottom: 15px;
	word-break: break-all;
	border-bottom: 1px solid #444;
}

.about .record {
	position: fixed;
	z-index: 98;
	color: #999;
	font-size: 12px;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: 0;
	padding-bottom: 15px;
	padding-bottom: calc(15px + constant(safe-area-inset-bottom));
	padding-bottom: calc(15px + env(safe-area-inset-bottom));
}
/**关于我们*/


/**在线取款**/
.ud-qk-from{
	margin: 0 20px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 1px 5px 1px #ddd;
}

.ud-qk-from ul {
    padding: 30px 0;
    display: block;
}

.ud-qk-from ul li {
    font-size: 14px;
    color: #888;
    line-height: 50px;
}

.ud-qk-from ul li span.title {
    width: 25vw;
    text-align: right;
    padding-right: 5px;
    display: inline-block;
}

.ud-qk-from ul li b {
    color: #333;
    width: 42vw;
    line-height: 36px;
    background: #eee;
    border-radius: 3px;
    padding: 0 10px;
    display: inline-block;
}

.ud-qk-from .select_bank {
    height: 36px;
    background: #eee;
    border-radius: 3px;
    padding: 0 10px;
    display: inline-block;
    color: #00947f;
    font-weight: 700;
    line-height: 36px;
}

.ud-qk-from ul li b.font_red {
    color: red;
    font-size: 14px;
}
.user_info-form ul li b.font_orange{
    color: #ff8d00;
    font-size: 14px;
}

.ud-qk-from ul li input[type=text] {
    color: red;
    width: 40vw;
    line-height: 34px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    padding: 0 10px;
    margin: 0;
}
.ud-qk-from ul li input[type=text] {
    height: 34px;
}

.ud-qk-from ul li span.btn_add-card {
    width: 46vw;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    background: #067f5f;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

.ud-qk-from ul li.op_btn {
    text-align: center;
    padding: 10px 0 0;
}

.ud-qk-from ul li.op_btn .btn_submit {
    width: 70vw;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    border-radius: 5px;
    background: #f93e00;
    display: inline-block;
    cursor: pointer;
}

.ud-card-list{
	width: 94vw;
	margin-left: 3vw;
	background: #fff;
	border-radius: 10px;
	padding-bottom: 25px;
	margin-top: 2vh;
	box-shadow: 0px 1px 5px 1px #ddd;
}
.ud-card-list h1.title {
    color: #666;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.ud-card-list div.btn_add-card {
    width: 80vw;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    border-radius: 5px;
    background: #063faa;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.ud-card-box{
    width:100%;
    display: block;
}

.ud-card-info {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 74vw;
    margin-left: 7vw;
    background-color: #fff;
    padding: 1vh 3vw;
	margin-bottom: 20px;
}
.ud-card-li {
    padding-left: 0;
    font-size: 14px;
	text-align: left;
	line-height: 15px;
	color: #000;
}


.ud-draw-list{
	width: 96vw;
	margin-left: 2vw;
	background: #fff;
	border-radius: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 1px 5px 1px #ddd;
}

.ud-draw-list h1.title {
    color: #666;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}
.ud-draw-list .dw-list {
    margin: 10px 2vw;
    margin-top: 0;
}

.ud-draw-list .dw-list table {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.ud-draw-list .dw-list table thead tr td {
    color: #666;
    font-weight: 700;
    font-size: 12px;
    height: 36px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
}

.ud-draw-list .dw-list table tbody tr{
    height: 35px;
}
.ud-draw-list .dw-list table tbody tr td {
    color: #888;
    font-size: 12px;
    line-height: 20px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    background: #fff;
    padding: 0 10px;
}

.ud-draw-list .dw-list span.status_2 {
    color: #005ff3;
    line-height: 20px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #005ff3;
    padding: 0 10px;
    display: inline-block;
}

.ud-draw-list .dw-list span.status_1{color:#f00;line-height:20px; border-radius:3px; background:#fff; border:#f00 solid 1px; padding:0 10px; display:inline-block;}
.ud-draw-list .dw-list span.status_2{color:#005FF3;line-height:20px; border-radius:3px; background:#fff; border:#005FF3 solid 1px; padding:0 10px; display:inline-block;}
.ud-draw-list .dw-list span.status_3{color:#018E57;line-height:20px; border-radius:3px; background:#fff; border:#1A6806 solid 1px; padding:0 10px; display:inline-block;}
.ud-draw-list .dw-list span.status_4{color:#666;line-height:20px; border-radius:3px; background:#fff; border:#666 solid 1px; padding:0 10px; display:inline-block;}



.ud-band-box{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
}

.ud-band-box .nav-bar{
	background: #ab2022;
}

.ud-band-card ul {
    padding: 30px 0 10px;
    margin: 0 30px;
    display: block;
}
.ud-band-card ul li {
    width: 49%;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    display: inline-block;
}
.ud-band-card .user_tips {
    text-align: right;
    margin: 0 50px;
	font-size: 10px;
}

.ud-band-card ul li select {
    color: #666;
    font-size: 14px;
    width: 40vw;
    height: 38px;
    line-height: 38px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 5px;
    display: inline-block;
    cursor: pointer;
}

.ud-band-card ul li input[type=text] {
    line-height: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    margin: 0;
	width: 38vw;
	height: 36px;
	padding: 0 5px;
}
.ud-band-card ul li input.input_style_f {
    font-size: 14px;
    color: red;
    width: 78vw;
    padding: 0 10px;
}

.ud-band-card ul li .btn_submit {
    color: #fff;
    font-size: 16px;
    line-height: 46px;
    border-radius: 5px;
    background: #ab2022;
    margin: 15px auto 0;
    display: block;
    cursor: pointer;
}
/**在线取款**/


/**充值*/
.uc-rg{
	background: #ebe8f7;
}

.uc-rg-content{
    width: 90vw;
    margin-left: 5vw;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


.uc-rg-content h1.title{
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}
.uc-rg-content div.card-box{
    width: 90vw;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    margin-top: 15px;
}

.uc-rg-content .card-box{
    width: 90vw;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    margin-top: 15px;
}

.uc-rg-content .card-box div.card{
    display: inline-block;
    background-color: #fff;
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 15px 15px;
    margin-left: 30px;
}

.uc-rg-content .card-box div.card:first-child{
    margin-left: 0;
}
.uc-rg-content .card-box div.select{
    background-color: #fdffd6;
    border: 1px solid #b38400;
}
.uc-rg-content .card-box div.card b{
    line-height: 25px;
    font-size: 14px;
    color: #000;
    display: block;
    text-align: left;
}

.uc-rg-content .card-box div.card span{
    line-height: 25px;
    font-size: 14px;
    color:#fff;
    background-color: #825004;
    border-radius: 3px;
    padding: 0 10px;
    display: block;
    margin-top: 10px;
}

.uc-rg-content .tip{
    line-height: 25px;
    font-size: 12px;
    color: #828282;
    text-align: center;
    margin-top: 10px;
}

.uc-rg-form{
	padding:20px 0;
    margin: 0 20px;
    margin-top: 20px;
	background: #fff;
	border-radius: 10px;
}

.uc-rg-form h1.title {
    font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 30px;
	font-weight: 700;
}

.uc-rg-form ul {
    padding: 10px 0 10px 0;
    display: block;
}

.uc-rg-form ul li {
    font-size: 14px;
    color: #888;
    line-height: 50px;
	padding-bottom: 10px;
}

.uc-rg-form ul li span.title {
    width: 15vw;
    text-align: right;
    padding-right: 5px;
    display: inline-block;
}
.uc-rg-form ul li span.title i{
	font-size: 22px;
	color:#383838;
}

.uc-rg-form ul li input[type=text] {
    color: red;
    width: 56vw;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    padding: 0 10px;
    margin: 0;
	font-size: 26px;
	font-weight: 600;
	line-height: 50px;
}
.uc-rg-form ul li input[type=text]::placeholder{
	font-size: 16px;
	font-weight: normal;
}

.uc-rg-form ul li span.tips {
    font-size: 12px;
    color: red;
    line-height: 24px;
    padding: 0 0 5px 27vw;
    display: block;
}

.uc-rg-form ul li.op_btn {
    text-align: center;
    padding: 15px 0 0;
}
.uc-rg-form ul li.op_btn .btn_submit {
    width: 70vw;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    border-radius: 5px;
    background: #f60;
    display: inline-block;
    cursor: pointer;
}

.uc-rg-form ul li.op_btn .btn_list {
    width: 70vw;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    border-radius: 5px;
    background: #999;
    display: inline-block;
    cursor: pointer;
}

.uc-rg-form div.tip{
    line-height: 25px;
    font-size: 13px;
    color: red;
    width: 70vw;
    margin-left: 9vw;
}

/**充值订单**/
.recharge-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.recharge-order{
	width:90vw;
	background: #fff;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
}

.recharge-order .close{
	position: absolute;
	right: 2vw;
	top: 1vh;
}
.recharge-order .close i{
	font-size: 30px;
}

.recharge-order .title{
	line-height: 60px;
	font-size: 18px;
	color: #383838;
	font-weight: 600;
	text-align: center;
}

.recharge-order ul li{
	line-height: 30px;
	width:80vw;
	margin: 0 5vw;
	font-size: 15px;
	color: #666;
}

.recharge-order ul li i{
	color: #383838;
}

.recharge-order .button-box{
	margin: 10px 0;
}

.recharge-order .button-box span{
	display: block;
	margin: 20px 5vw;
	width: 80vw;
	background-color: #04a9da;
	border-radius: 3px;
	line-height: 40px;
	text-align: center;
	color: #fff;
}
.recharge-order .button-box span.pay{
	background: #02CE4A;
}

.recharge-order .order-status{
	text-align: center;
	margin: 10px 0;
}
.recharge-order .order-status i{
	font-size: 140px;
}
.recharge-order .order-status i.success{
	color: #00d27b;
}
.recharge-order .order-status i.error{
	color: #ff6a6a;
}
.recharge-order .order-status i.waring{
	color: #00b8ff;
}

.recharge-order .order-status-msg{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 20px;
}
.recharge-order .order-status-tip{
	font-size: 12px;
	color: #999;
	margin: 5px 5vw;
	width: 80vw;
}



/**代理*/
.uc-agent-info{
    font-size: 13px;
}

.uc-agent-panel {
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
	width: 100%;
}

.uc-agent-panel .header{
	color: #39b54a;
	width: 100%;
	padding: 9px 0;
	font-size: 15px;
	border-bottom: 1px solid #eaeef1;
	text-align: center;
}

.uc-agent-panel .img-box{
	width: 100%;
	text-align: center;
	padding: 15px 0 10px 0;
}
.uc-agent-panel .img-box img{
	width: 35%;
	height: auto;
}
.uc-agent-panel p{
	display:block;width:100%; text-align: center;font-size:14px;color:#ff8100;
	margin: 0;padding: 0;
}

.uc-agent-list-title{
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	color: #383838;
	font-weight: bold;
}
.uc-agent-list-more{
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	color: #a76c00;
}



/**游戏页面*/



/**购买弹窗*/
.buy-mask{
	position: fixed;width:100%;height: 100%;z-index:101;top:0;left:0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.buy-details{
	background: #fff;
	border-radius: 10px;
	width: 70vw;
	padding: 10px 5vw;
}

.buy-details .header{
	color: #000000;
	font-size:20px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.buy-details .tip{
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #777;
	font-weight: bold;
	padding-bottom: 5px;
}

.buy-details .info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 10px;
	font-size: 14px;
}

.buy-details .info .left{
	width:100%;
	font-size: 16px; 
	color: #666;
	text-align: center;
}

.buy-details .info .left .price{
	font-size: 30px;
	font-weight: bold;
	color: #f60;
	margin-bottom: 5px;
}

.buy-details .info .left .price i{font-size: 30px;}

.buy-details .info .right{
	width:50%;
	font-size: 14px; 
	color: #666;
	text-align: center;
}

.buy-details .info .right .time{
	font-size: 24px;
	font-weight: bold;
	color: #f00;
	margin-bottom: 5px;
}

.buy-details .info .right .time i{font-size: 22px;}


.buy-details .row3{
	padding-top: 5px;
}

.buy-details .info .item{
	width: 33%;
	font-size: 12px;
	color: #666;
	text-align: center;
}

.buy-details .info .item .top{
	font-size: 16px;
	color: #f00;
	margin-bottom: 5px;
}
.buy-details .info .item .top i{font-size: 14px;}



.buy-details .btnbox{
	width: 100%;
	display: inline-block;
	margin-top: 15px;
}

.buy-details .btnbox div{
	width: 50%;
	float: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.buy-details .btnbox div span{
	display: block;
	width: 90%;
	background: #888;
	color: #fff;
	line-height: 35px;
	border-radius: 5px;
	font-size: 15px;
}

.buy-details .btnbox div span.btn-submit{
	background: #ff3f05;
}


.buy-details .price-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px #ccc solid;
	color: #000;
	width: 90%;
	margin: 10px 0 5px 0;
	margin-left: 5%;
	padding: 10px 0;
}

.buy-details .price-box i{
	font-size: 24px;
	width:12%;
}

.buy-details .price-box  input{
	font-size: 24px;
	font-weight: bold;
	width:88%;
}
.buy-details .price-box input::placeholder {
	font-size: 16px;
	font-weight: normal;
}

.buy-details .no-credit{
	font-size: 14px;
	color: blue;
	margin: 0 0 10px 0;
	margin-left: 5%;
}
.buy-details .no-credit u{
	text-decoration: none; padding:0 0 6 0; border-bottom-color:0; border-bottom-width:1px; border-bottom-style:solid;
}

.buy-details-success{
	background: #fff;
	border-radius: 10px;
	width: 80vw;
	padding: 10px 0;
	padding-bottom: 0;
}

.buy-details-success .success-title{
	font-size: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 10px;
	margin-top: 5px;
	border-bottom: 1px solid #ccc;
	color: #02ce4a;
}
.buy-details-success .success-title i{
	font-size: 27px;
	margin-right: 5px;
}

.buy-details-success .success-qr-box{
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

.buy-details-success .success-qr-box img{
	width: 50%;
	height: auto;
}

.buy-details-success .userinfo{
	width: 90%;
	margin-left: 5%;
	line-height: 22px;
	color: #666;
	font-size: 14px;
	text-align: center;
	word-break: break-all;
	margin-top: 5px;
}

.buy-details-success .tip{
	width: 90%;
	margin-left: 5%;
	line-height: 22px;
	color: #ff1818;
	font-size: 16px;
	text-align: center;
	word-break: break-all;
	margin-top: 10px;
}

.buy-details-success .btn{
	font-size: 16px;
	color: #fff;
	background: #02ce4a;
	margin-top: 20px;
	line-height: 45px;
	text-align: center;
	border-radius: 0 0 10px 10px;
}



/**游戏详情页*/
.gd-header{
	width: 100%;
}

.gd-header .bg{
	width: 100%;
	height: 100px;
	border-radius: 0 0 50% 50%;
	background-image: radial-gradient(circle , rgb(58,58,58),rgb(38,38,38));
}

.gd-header .header-box{
	width: 86vw;
	border-radius: 10px;
	margin-left: 3vw;
	background-color: #fff;
	margin-top: -70px;
	padding: 20px 4vw;
	padding-bottom: 15px;
}

.gd-header .header-box .title{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: #c78e0b;
	line-height: 30px;
	word-break:break-all
}

.gd-header .info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 20px 0 10px 0;
}

.gd-header .left{
	width:50%;
	font-size: 14px; 
	color: #999;
	text-align: center;
}

.gd-header .left .price{
	font-size: 22px;
	font-weight: bold;
	color: #f60;
	margin-bottom: 5px;
}
.gd-header .left .price i{font-size: 18px;}

.gd-header .right{
	width:50%;
	font-size: 14px; 
	color: #999;
	text-align: center;
}

.gd-header .right .price{
	font-size: 22px;
	font-weight: bold;
	color: #f00;
	margin-bottom: 5px;
}
.gd-header .right .price i{font-size: 18px;}

.gd-header .percent-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0px 0 15px 0;
	padding-top: 15px;
}

.gd-header .percent-box .item{
	width: 22%;
	background: #fff1bc;
	border-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px 3px 0px #caa103;
}

.gd-header .percent-box .item .num{
	line-height: 60px;
	font-size: 18px;
	font-weight: 600;
	color: #ff3954;
}

.gd-header .percent-box .item .name{
	border-radius:0 0 5px 5px;
	font-size: 12px;
	line-height: 26px;
	color: #8a8a8a;
	border-top: 1px solid #ecdea6;
}

.gd-header .percent-box .buy-info{
	width: 45%;
	background: #fff;
	border-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px 3px 1px #ccc;
	display: inline-block;
}

.gd-header .percent-box .buy-info .left{
	width: 35%;
	text-align: center;
	line-height: 50px;
	float: left;
	border-radius: 5px 0 0 5px;
}

.gd-header .percent-box .buy-info .people{
	background: #2d8cf0;
}

.gd-header .percent-box .buy-info .order{
	background: #64d572;
}

.gd-header .percent-box .buy-info .left i{
	font-size: 26px;
	color: #fff;
}

.gd-header .percent-box .buy-info .right{
	width: 65%;
	line-height: 50px;
	font-size: 16px;
	color: #383838;
	float: left;
}
.gd-header .percent-box .buy-info .right .num{
	line-height: 30px;
	font-weight: 600;
}

.gd-header .percent-box .buy-info .right .tip{
	line-height: 20px;
	font-size: 14px;
	color: #999;
}


.gd-time-info{
	width: 86vw;
	border-radius: 10px;
	margin-left: 3vw;
	background-color: #fff;
	margin-top: 20px;
	padding: 10px 4vw;
	padding-bottom: 15px;
}

.gd-time-info .title{
	font-size: 16px;
	color: #000;
	font-weight: 600;
	line-height: 45px;
	text-align: center;
}

.gd-time-info .item{
	width: 100%;
	font-size: 14px;
	color: #888;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.gd-time-info .item span{
	display: block;
	line-height: 25px;
	padding-left: 5px;
	word-break: break-all;
}
.gd-time-info .item .content{
	color: #383838;
}

.gd-time-info .item b{
	color: #383838;
	padding-left: 10px;
}

.gd-tab-bar{
	width: 100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: fixed;
	background: #fff;
	bottom: 0;
	left: 0;
	box-shadow: 0px 4px 6px 3px #808080;
}

.gd-tab-bar .time{
	width: 60%;
	text-align: center;
	font-family: Digital-7Mono,Arial,sans-serif;
	font-size: 26px;
	color: #f60;
	line-height: 51px;
}

.gd-tab-bar .time i{
	line-height: 50px;
	font-size: 22px;
}
.gd-tab-bar .time b{
	font-weight: bold;
}

.gd-tab-bar .btn-buy{
	width: 40%;
	background: #f60;
	color: #fff;
	text-align: center;
	line-height: 51px;
}

.gd-tab-bar .end{
	width: 100%;
	line-height: 51px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background-color: #666;
}


.wave {
    position: relative; 
	width: 54vw;
	height: 54vw;
	background:#ffefcc;
	border: 1px solid #ffefcc;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
}

.wave div.jc-box{
	width: 54vw;
	height: 54vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.wave .jc-box .price{
	font-size: 35px;
	font-weight: bold;
	color: #f60;
	margin-bottom: 5px;
}

.wave .jc-box .price i{font-size: 30px;}


.wave-box::before,
.wave-box::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 108vw;
      height: 108vw;
      border-radius: 45%;
      -webkit-transform: translate(-50%, -90%);
      transform: translate(-50%, -90%);
      background: rgba(255, 255, 255, 0.5);
      -webkit-animation: rotate 10s linear infinite;
      animation: rotate 10s linear infinite;
      z-index: 10;
}

@keyframes rotate {
  50% {
            -webkit-transform: translate(-50%, -95%) rotate(180deg);
            transform: translate(-50%, -95%) rotate(180deg);
  }
  100% {
            -webkit-transform: translate(-50%, -90%) rotate(180deg);
            transform: translate(-50%, -90%) rotate(180deg);
  }
}


/**在线客服*/
.question-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
}

.question-content-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88vw;
    padding: 2vh 4vw;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left:2vw;
    border-radius: 10px;
	margin-top:3vh
}

.question-content-item-txt{
    width: 88vw;
    font-size: 14px;
    color: #333;
	word-break: break-all;
}

.question-content-item-answer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88vw;
    font-size: 14px;
    color: #999;
    margin-top: 2vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.question-content-item-huifu{
    width: 44vw;
    font-size: 14px;
}

.question-content-item1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92vw;
    padding: 2vh 4vw;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.question-content-item-txt1{
    width: 92vw;
    font-size: 14px;
    color: #333;
    word-wrap:break-word
}

.question-content-item-answer1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92vw;
    font-size: 14px;
    color: #999;
    margin-top: 2vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.question-content-item-huifu1{
    width: 46vw;
    font-size: 14px;
}

.qustion-bottom{
    display: block;
    font-size: 16px;
    width: 100vw;
    height: 50px;
    line-height: 44px;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: rgb(38,38,38);
    color: #fff;
	padding-bottom: 0;
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}
.question-box-zhanwei{
    display: block;
    width: 100vw;
    height: 50px;
    background-color: #f1f1f1;
}

.qs-box{
    display: block;
    width: 80vw;
    height: 40vh;
    position: absolute;
    margin-left: 10vw;
    margin-top: 20vh;
    background: #fff;
    border-radius: 5px;
}

.qs-box-tit{
    width: 76vw;
    height: 6vh;
    line-height: 6vh;
    padding:0  2vw;
    color: #fff;
    font-size: 14px;
    background-color: rgb(38,38,38);
}

.qs-box-tit-close{
     display: block;
     width: 8vw;
     height: 6vh;
     line-height: 6vh;
     color: #fff;
     float: right;
     text-align: center;
}

.qu-box-content{
    display: block;
    width: 72vw;
    margin:2vh  2vw;
    height: 22vh;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    box-shadow: 0px 13px 10px -15px #ccc inset;
    font-family:"微软雅黑";
    outline:none;
    padding: 1vh 2vw;
    resize:none;
}

.qs-box-submit{
    display: block;
    width: 80vw;
    height: 6vh;
    line-height: 6vh;
    background: rgb(38,38,38);
    color: #fff;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
    text-align: center;
}
.answer-fixed{
    z-index: 1102;
    width: 100vw;
    position: fixed;
    height:80vh;
    bottom: 0;
}

.answer-box{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height:80vh;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    overflow: auto;
    overflow-x: hidden;
}

.answer-head{
   display: block;
   position: fixed;
   top: 20vh;
   width: 92vw;
   height: 6vh;
   line-height: 6vh;
   font-size: 16px;
   color: #000;
   padding: 0 4vw;
   background-color: #fff;
   border-radius: 20px 20px 0 0;
}
.answer-head-zhanwei{
   display: block;
   width: 100vw;
   height: 6vh;
}

.answer-bottom{
   display: block;
   position: fixed;
   width: 100vw;
   height: 6vh;
   line-height: 6vh;
   font-size: 16px;
   color: #fff;
   background-color: rgb(38,38,38);
   bottom: 0;
   text-align: center;
   padding-bottom: 0;
   padding-bottom: constant(safe-area-inset-bottom);
   padding-bottom: env(safe-area-inset-bottom);
}
.answer-bottom-zhanwei{
	display: block;
	width: 100vw;
	height: 6vh;
	padding-bottom: 0;
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

.question-no-more{
    display: block;
    width: 100vw;
    height:8vh;
    line-height: 8vh;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.question-content .paging{
	margin-bottom:5vh;margin-top:3vh
}

.game_timer {
	display: inline-block;
	margin-top: 2px;
	vertical-align: middle;

}